html {
  overflow: hidden;
}

html, body {
  height: 100%; 
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  background-origin: border-box;
}

h1 {
  font-weight: lighter;
}

#home {
  background-color: rgba(89, 185, 84, 0.3);
  width: 100%;
  height: 100%;
}

.figure {
  font-weight: lighter;
  font-size: 5em;
  color: tomato;
}

#figure:hover {
  color: cornsilk;
}

#createWordForm {
  background-color: rgb(255, 99, 71);
  width: 100%;
  height: 100%;
}

#pages {
  background-color: rgb(102, 255, 178);
  width: 100%;
  height: 100%;
}

.pagesDiv {
  width: 100%
}

.prefix-container {
  background-color: rgb(255,178,102);
  width: 100%;
  height: 100%;
}

.suffix-container {
  background-color: rgb(255,255,102);
  width: 100%;
  height: 100%;
}

#dictionary {
  background-color:rgba(108, 41, 215, 0.4);
  width: 100%;
  height: 100%;
}

#dictionaryTitle {
  font-size: 3.5em;
}

#alphabetBtn {
  color: white;
  margin-left: 8px;
  font-weight: lighter;
  font-size: 2.5em;
  background-color:rgba(108, 41, 215, 0.4);
  border-radius: 10px;
}

#footer {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
  padding: 50px;
}

#github, #portfolio {
  font-size: 1em;
  color: black;
  font-weight: lighter;
}

#github:hover, #portfolio:hover {
  font-size: 1.2em;
  font-weight: bolder;
}