<div class="container-fluid d-flex justify-content-center align-items-stretch" id="allUserWords">
      <div class="row w-75" id="wordsListDiv">
      </div>
</div>
<script src="/javascript/allUserWords.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>