<div class="container-fluid d-flex justify-content-center justify-content-around flex-column align-items-center" id="dictionary">
  <h1 id="dictionaryTitle">Dictionary</h1>
  <div id="dictionaryTable"></div>
</div>

<script src="/javascript/dictionaryTable.js"></script>