{{!-- create a page that displays word of the day and artistic background --}}
<link href="../public/text/css/home.css" type="text/css" rel="stylesheet"/>
<div class="container-fluid" id="home">

</div>