{{!-- create a page that displays word of the day and artistic background --}}
<div class="container-fluid d-flex justify-content-center align-items-center" id="home">
  <figure id="figure">Word</figure>
</div>

<script src="/javascript/wordOfTheDay.js"></script>