<div class="container-fluid d-flex justify-content-center align-items-stretch" id="pages">
      <div class="row w-75" id="likedWordsListDiv">
      </div>
</div>
<script src="/javascript/likedWords.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>