<div class="container-fluid d-flex justify-content-center align-items-stretch" id="pages">
  <div class="row">
    {{#each words as |word|}}
      <div class="card-body col-12 border border-warning rounded bg-success h-25 m-auto">
        <h5 class="card-title font-weight-light">{{word.word}}</figure>
        <p class="card-text">{{word.definition}}</p>
      </div>
    {{/each}}
  </div>
</div>