<div class="container-fluid d-flex justify-content-center" id="pages">
  <div>
    <figure>Hello</figure>
    <figure>Bye</figure>
  </div>
</div>

{{!-- <script src="/javascript/dictionaryTable.js"></script> --}}