<div class="container-fluid d-flex justify-content-center" id="pages">
  {{#each wordsArr as |word|}}
  <div>
    <figure>{{word}}</figure>
  </div>
  {{/each}}
  {{#each defsArr as |def|}}
  <div>
    <figure>{{def}}</figure>
  </div>
  {{/each}} 
</div>