<div class="container-fluid d-flex justify-content-center" id="pages">
  <div class="row">
    {{#each words as |word|}}
      <div class="col-12">
        <figure>{{word.word}}</figure>
        <figure>{{word.definition}}</figure>
      </div>
    {{/each}}
  </div>
</div>